*, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Styling video */
#video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

/* Konten */
#content {
    position: relative;
    z-index: 1;
    color: #f0f0ff;
}

/* navigation */
.container-nav {
    background-color: rgba(105, 14, 232, 0.45);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 52px;
}

.nav h1 {
    color: #f0f0ff;
    font-size: 24px;
}

.nav a {
    text-decoration: none;
    color: white;
    background-color: #bb00ff; /* neon purple */
    padding: 10px 14px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
}

.nav a:hover {
    background-color: #9b4dff; /* hover lebih soft */
    transition: 0.4s;
}

/* FORM */
main {
    display: flex;
    margin-top: 120px;
    margin-bottom: 40px;
    justify-content: center;
}

.container-form {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(6px);
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    padding: 24px 32px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.15); /* border glow */
}

.container-form h2 {
    color: #f0f0ff;
    text-align: center;
}

.container-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.container-form input {
    background-color: rgba(255,255,255,0.8);
    border: none;
    width: 300px;
    padding: 16px 14px;
    border-radius: 8px;
}

.container-form textarea {
    background-color: rgba(255,255,255,0.8);
    border: none;
    width: 300px;
    padding: 16px 14px;
    border-radius: 8px;
}

.container-form select {
    background-color: rgba(255,255,255,0.8);
    border: none;
    width: 330px;
    padding: 16px 14px;
    border-radius: 8px;
}

.container-form button {
    border: none;
    color: white;
    background-color: #bb00ff;
    width: 330px;
    padding: 16px 14px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
}

.container-form button:hover {
    cursor: pointer;
    background-color: #9b4dff;
    transition: 0.4s;
}

.container-form p {
      color: #f0f0ff;
      text-align: center;
      font-size: 16px;
}

.container-form a {
    text-decoration: none;
    color: #bb00ff;
}